

body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background: linear-gradient(135deg, blue 0%, purple 100%);
    min-height: 100vh;
}

.calculadora{
    background: whitesmoke;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(12, 247, 90, 0.2);
}

h1{
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}
.Campo{
    margin-bottom: 15px;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #0c23f3;
}

input,select{
    width: 100%;
    padding: 11px;
    border: 1px solid #1020f8;
    border-radius: 10px;
    font-size: 11px;
    font-size: 14px;
    
}

button{
    width: 100%;
    padding: 12px;
    background-color: aqua;
    border: none;
    color: whitesmoke;
    font-size: 15px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
}
button:hover{
    background-color: #f7e603;
   
}
.resultados{
    margin-top: 20px;
    padding: 20px;
    background-color: #0080ff;
    border-radius: 9px;
    opacity: 0;
    visibility: hidden;
    transition:opacity 0.4s ease-in-out, visibility 0.4s ease-in-out    
}
.resultados.ativo{
    opacity: 1;
    visibility: visible;
}
.resultados-item{
    margin: 10px 0;
    padding: 10px;
    border-left: 4px solid #007bff;
    background-color: rgb(167, 255, 5);
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.infor-piscando{
    animation: piscar 1s infinite;
    color: red;
    font-size: 15px;
    display: none;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}
@keyframes piscar{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}